@import url('https://fonts.googleapis.com/css2?family=Imbue:opsz,wght@10..100,100..900&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Outfit:wght@100..900&display=swap');
@import "tailwindcss";

@theme {
  --color-primary: #F37830;
  --color-primary-dark: #f48341;
  --color-primary-light: #fcd8c3;
  --color-primary-white: #ffffff;
  --color-primary-gray: #262626;
  --font-imbue: 'Imbue', sans-serif;
  --font-outfit: 'outfit', sans-serif;
  --font-merriweather: "Merriweather", serif;
  --color-primary-black: #101010;
  --breakpoint-xs: 400px;
}

::selection {
  background-color: var(--color-primary-light);
  color: var(--color-primary-black);
}